<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">APL TS System</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/upload/start">
        <img style="width: 15px; margin-right: 4px;" src="/imgs/upload_2.webp">Upload
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search">
        <img style="width: 15px; margin-right: 4px;" src="/imgs/search.png">Search
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/settings">
        <img style="width: 15px; margin-right: 4px;" src="/imgs/settings.png">Settings
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reports">
        <img style="width: 15px; margin-right: 4px;" src="/imgs/reports.png">Reports
      </a>
    </li>
  </ul>
  <div class="login-tray" id="login-tray">
    <% if (typeof user != 'undefined') { %>
      <a class="login-tray-link"><%- user %></a>
      <p style="margin:0px"> | </p>
      <a href="/api/logout" class="login-tray-link">Log Out</a>
    <% } else { %>
      <a href="/login" class="login-tray-link">Log In</a>     
    <% } %>
  </div>
  <!-- <script src="/js/state.js"></script> -->
</nav>