.nav-link{
    display: flex;
    color:black;
    opacity: 70%;
    align-items: center;
    justify-content: center;
}

.nav-link:hover{
    opacity: 100%;
}

.container{
    min-height: 90vh;
}

.navbar-brand{
    margin-left: 10px;
}

.login-tray{
    margin: auto;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-tray-link{
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    color: rgb(133, 133, 133);
    cursor: pointer;
}

.login-tray-link:hover{
    color: black;
}

footer{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 2em;
    bottom:0px;
    left: 0px;
    position: relative;
    width: 100%;
}