.nav-link{
    display: flex;
    color:black;
    opacity: 70%;
    align-items: center;
    justify-content: center;
}

.nav-link:hover{
    opacity: 100%;
}

.container{
    min-height: 90vh;
}

footer{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 2em;
    bottom:0px;
    left: 0px;
    position: relative;
    width: 100%;
}