.error-container{
  position: fixed;
  display: flex;
  background-color: #ffa5a5;
  flex-direction: column;
  top: 0px;
  width: 100%;
  left: 0px;
  align-content: center;
  text-align: center;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
  height: 0px;
  overflow: hidden;
  transition: cubic-bezier(0.755, 0.05, 0.855, 0.06) all 300ms;
  z-index: 2000;
}

.error-container.active{
  height: 125px;
}

.rates-container{
  min-height: 40vh;
}

.modal{
  display: block;
  opacity: 100%;
  background-color: #00000073;
  transition: cubic-bezier(0.86, 0, 0.07, 1) all 300ms;
}

.modal-footer{
  justify-content: left ;
}

.modal-section{
  transition:cubic-bezier(0.86, 0, 0.07, 1) all 300ms;
  opacity: 100%;
}

.modal-content{
  transition:cubic-bezier(0.86, 0, 0.07, 1) all 300ms;
  height: 100%;
}

.clear{
  opacity: 0%;
  /* height: 0%; */
}

.focused{
  overflow: hidden;
}

.rate-years-selection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;
}

.rates-folder.new{
  width: 100%;
  font-size: 70px;
  line-height: 0px;
  padding: 0px 0px 10px 0px;
  text-align: center;
  background-image: none;
  border-style: dashed;
  border-radius: 25px;
  border-width: 8px;
  border-color: rgb(81, 122, 172);
  color: rgb(81, 122, 172);
  text-shadow: none;
}

.rates-folder.new:hover{
  border-color: white;
  color: white;
}

.rates-folder{
  width: 100%;
  min-height: 150px;
  background-image: url("/imgs/blue-folder.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  text-shadow: #0a47bbd4 0px 0px 15px;
  font-weight: 500;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  cursor: pointer;
  transition: background-color 200ms cubic-bezier(0.23, 1, 0.320, 1) ;
  border-radius: 10px;
}

.rates-folder:hover{
  background-color: rgba(0, 0, 0, 0.357);
}

.input-rate-file{
  margin-top: 1em;
}

.container-form-ratefile{
  margin-top: 1em;
}

.container-ratefile-input{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#rate-year{
  width: 4em;
}

#label-input-rateyear{
  background-color: gainsboro;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 5px 0px 0px 5px;
  width: 50px;
  padding: .25em;
  padding-left: .50em;
}

a{
  text-decoration: none;
  color: black;
}

.btn-preview{
  font-weight: bold;
  background-color: gainsboro;
  padding: .5em .7em .5em .7em;
  border-radius: 5px;
  cursor: pointer;
}

.btn-preview:hover{
  background-color: #b8d1f9;
}

.rate-name{
  color:#7b7b7b;
  opacity: 0%;
  padding: .25em;
  margin-left: 1em;
}

.rate-name.display{
  opacity: 100%;
}

p{
  padding: 0px;
  margin: 0px;
}

.enable{
  background-color: greenyellow;
}

td{
  max-width: 100%;
  overflow: clip;
  padding: 1px;
}

td:first-child,
th:first-child,
td:nth-child(2),
th:nth-child(2) {
  min-width: 100px;
  max-width: 200px;
  width: 200px;
}

td:nth-child(3),
th:nth-child(3) {
  text-align: center;
}

th{
    border: black 1px solid;
    background-color: gainsboro;
    text-align: center;
}

.cell{
}

.rate-number{
  min-width: 4em;
  width: 100%;
  border: none;

}

.rate-string{
  border: none;
  width: 100%;
}

.cell.rate-number{
  width: 50px;
  border: black 1px solid;
}

.cell.rate-string{
  border: black 1px solid;
}


.rate-table{
  width: 100%;
  height: 100%;
}
