<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <%- include('../partials/reload'); %>
  <link rel="stylesheet" href="/css/index.css">
  <title>APL Invoicing System</title>
</head>
<body class="body-container">
  <div class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
    
    <div style="min-width: 1200px;min-height: 700px;">
      <div class="jumbotron">
        <h1>APL Invoice System</h1>
        <p>Ver 0.0.1</p>
        <div  class="index-container">
          <a class="start-button two-col" href="/upload">
            <img class="rounded start-button-img" src="imgs/upload_2.webp">
            <p>Upload Invoice/Waybill</p>
          </a>
          <!-- <a class="start-button" href="/create-invoice">
            <img class="rounded start-button-img" src="/imgs/invoice_2-1.webp">
            <p>Create Invoice</p>
          </a> -->
          <a class="start-button" href="/settings">
            <img class="rounded start-button-img" src="/imgs/settings.png">
            <p>Settings</p>
          </a>
          <a class="start-button" href="/search">
            <img class="rounded start-button-img" src="/imgs/search.png">
            <p>Search</p>
          </a>
        </div>
        <br>
        <br>
      </div>
    </div>
    
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
</body>
</html>