<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/reload'); %>
    <link rel="stylesheet" href="/css/search.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body style="scrollbar-width: thin;">
    <div class="container" style="scrollbar-width: thin;">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div style="max-width: 100%;min-height: 700px;margin-top: 30px; scrollbar-width: thin;">
            <div class="tab-search-container">
                <ul style="width: 80%;" class="nav nav-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" id="shipments-selected" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Pending Shipments</a>
                        <ul class="dropdown-menu">
                            <li><a id="allshipments-tab" class="dropdown-item">All Shipments</a></li>
                            <li><a id="pendingshipments-tab" class="dropdown-item">Pending Shipments</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="details-tab nav-link" id="shipments-tab" >Shipments</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="details-tab nav-link" id="invoices-tab" >Invoices</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="details-tab nav-link" id="tsp-tab" >TSP's</a>
                    </li>
                    <li class="nav-item">
                        <a class="details-tab nav-link" id="rates-tab" >Rates</a>
                    </li> -->
                </ul>
                <div class="input-group mb-3">
                    <!-- <label for="search-arg">Search</label> -->
                    <select class="search-arg" id="search-arg", name="search-arg">
                        <option value="BOL" >BOL</option>
                        <option value="MEMBER_NAME">Member Name</option>
                        <option value="DATE_CREATED">Date Created</option>
                        <option value="SCAC">SCAC</option>
                        <option value="GBL">GBL</option>
                        <option value="TTL_CF">TTL_CF</option>
                    </select>
                    <div id="search-date-container" hidden>
                        <p style="display: inline-block;margin: 0px;margin-left:20px;">Start: </p>
                        <input id="search-date-start" type="date" class="search-date">
                        <p style="display: inline-block;margin: 0px;">End: </p>
                        <input id="search-date-end" type="date" class="search-date">
                    </div>
                    <input type="text" class="form-control" id="search-bar">
                </div>
            </div>
            <table style="width:100%" id="table-main">
                <!-- INCLUDE RESULTS -->
            </table>
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</body>
<script src="/js/search.js"></script>
</html>