<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/uploadManual.css">
    <title>APL-DEW | Upload</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <!-- HEADER --> 
    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- Second Phase Upload Invoice -->
    <div class="invoice-main-container" id="invoice-main-container">
        <div class="form-header">
            <ul style="width: 100%;" class="nav nav-tabs">
                <li class="nav-item">
                    <a class="details-tab nav-link active" aria-current="page" id="invoice-details" onclick=toggleInvoice() >Invoice Details</a>
                </li>
                <li class="nav-item">
                    <a class="details-tab nav-link" id="waybill-details" onclick=toggleWaybill()>Waybill Details</a>
                </li>
            </ul>
            <a onclick="submit_db()" class="done-btn active">Confirm Details</a>
        </div>
        <div style="min-height: 700px;max-width: 1120px;" class="invoice-layout container" id="invoice-main">
            <h1>Enter Invoice Details</h1>
            <div class="invoice-layout info" id="invoice-info-i">
                <h2>Invoice Details</h2>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text req false" for="BOL-I">Bill of Lading</label>
                            <input type="text" class="form-control bol" id="BOL-I">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="INVOICE_NUM-I">Invoice #</label>
                            <input type="text" class="form-control" id="INVOICE_NUM-I">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="CUSTOMER_NUM-I">Customer</label>
                            <input type="text" value="0003152148/001" disabled class="form-control" id="CUSTOMER_NUM-I">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="INVOICE_DATE-I">Invoice Date</label>
                            <input type="date" class="form-control" id="INVOICE_DATE-I">
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-layout info" id="vessel-info-i">
                <h2>Vessel Information</h2>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="VOYAGE-I">Voyage</label>
                            <input type="text" class="form-control" id="VOYAGE-I">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="RECEIPT_PLACE-I">Receipt Place</label>
                            <select class="form-control" id="RECEIPT_PLACE-I">
                                <option value="-" selected>-</option>
                                <option value="LOS ANGELES, CA">LOS ANGELES, CA</option>
                                <option value="LONG BEACH, CA">LONG BEACH, CA</option>
                                <option value="OAKLAND, CA">OAKLAND, CA</option>
                                <option value="SEATLE, WA">SEATLE, WA</option>
                                <option value="TACOMA, WA">TACOMA, WA</option>
                                <option value="BALTIMORE, MD">BALTIMORE, MD</option>
                                <option value="CHARLESTON, SC">CHARLESTON, SC</option>
                                <option value="JACKSONVILLE, FL">JACKSONVILLE, FL</option>
                                <option value="NORFOLK, VA">NORFOLK, VA</option>
                                <option value="SABANNAH, GA">SABANNAH, GA</option>
                                <option value="KANSAS CITY, KS">KANSAS CITY, KS</option>
                                <option value="HOUSTON, TX">HOUSTON, TX</option>
                                <option value="NEW ORLEANS, LA">NEW ORLEANS, LA</option>
                                <option value="HONOLULU, HI">HONOLULU, HI</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="RECEIPT_PLACE-I"> -->
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="LOAD_PORT-I">Load Port</label>
                            <select class="form-control" id="LOAD_PORT-I">
                                <option value="-" selected>-</option>
                                <option value="LOS ANGELES, CA">LOS ANGELES, CA</option>
                                <option value="LONG BEACH, CA">LONG BEACH, CA</option>
                                <option value="OAKLAND, CA">OAKLAND, CA</option>
                                <option value="SEATLE, WA">SEATLE, WA</option>
                                <option value="TACOMA, WA">TACOMA, WA</option>
                                <option value="PITI, GUAM">PITI, GUAM</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="LOAD_PORT-I"> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text req false" for="VESSEL-I">Vessel</label>
                            <input type="text" class="form-control vessel" id="VESSEL-I">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="DISCHARGE_PORT-I">Discharge Port</label>
                            <select class="form-control" id="DISCHARGE_PORT-I">
                                <option value="-" selected>-</option>
                                <option value="LOS ANGELES, CA">LOS ANGELES, CA</option>
                                <option value="LONG BEACH, CA">LONG BEACH, CA</option>
                                <option value="OAKLAND, CA">OAKLAND, CA</option>
                                <option value="SEATLE, WA">SEATLE, WA</option>
                                <option value="TACOMA, WA">TACOMA, WA</option>
                                <option value="PITI, GUAM">PITI, GUAM</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="DISCHARGE_PORT-I"> -->
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="DELIVERY_PLACE-I">Delivery Place</label>
                            <select class="form-control" id="DELIVERY_PLACE-I">
                                <option value="-" selected>-</option>
                                <option value="BALTIMORE, MD">BALTIMORE, MD</option>
                                <option value="CHARLESTON, SC">CHARLESTON, SC</option>
                                <option value="JACKSONVILLE, FL">JACKSONVILLE, FL</option>
                                <option value="NORFOLK, VA">NORFOLK, VA</option>
                                <option value="SABANNAH, GA">SABANNAH, GA</option>
                                <option value="KANSAS CITY, KS">KANSAS CITY, KS</option>
                                <option value="HOUSTON, TX">HOUSTON, TX</option>
                                <option value="NEW ORLEANS, LA">NEW ORLEANS, LA</option>
                                <option value="HONOLULU, HI">HONOLULU, HI</option>
                                <option value="TACOMA, WA">TACOMA, WA</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="DELIVERY_PLACE-I"> -->

                        </div>

                    </div>
                </div>
            </div>
            <div class="invoice-layout info" id="container-info-i">
                <h2>Container</h2>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text req false" for="CONT_SIZE-I">Container Size</label>
                            <input type="text" class="form-control cont-size" id="CONT_SIZE-I">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text req false" for="CONT_NUM-I">Container #</label>
                            <input type="text" class="form-control cont-num" id="CONT_NUM-I">
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-layout info" id="charges-info-i">
                <h2>Charges</h2>
                <table style="width: 100%;max-width: none;" id="charges-table" rules="all">
                    <tr>
                        <th class="td-charge size">Size</th>
                        <th class="td-charge type">Type</th>
                        <th class="td-charge desc">Description</th>
                        <th class="td-charge based_on">Based On (UNI)</th>
                        <th class="td-charge rate_curr">Rate Currency</th>
                        <th class="td-charge amount">Amount</th>
                        <th class="td-charge amount_usd">Amount in USD</th>
                    </tr>
                    <!-- INCLUDE CHARGES -->
                    <tr id="OCF">
                        <td class="td-charge size" id="ch-size-0">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge type" id="ch-type-0">
                            <input class="charge-input" type="text">
                        </td>
                        <td class="td-charge desc" id="ch-desc-0">
                            <input disabled class="charge-input" type="text" value="BASIC FREIGHT">
                        </td>
                        <td class="td-charge based_on" id="ch-based_on-0">
                            <input class="charge-input" type="text">
                        </td>
                        <td class="td-charge rate_curr" id="ch-rate_curr-0">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount" id="ch-amount-0">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount_usd" id="ch-amount_usd-0">
                            <input class="charge-input right" value="0" type="text">
                        </td>
                    </tr>
                    <tr id="FAF">
                        <td class="td-charge size" id="ch-size-1">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge type" id="ch-type-1">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge desc" id="ch-desc-1">
                            <input disabled class="charge-input" type="text" value="Bunker surcharge NOS">
                        </td>
                        <td class="td-charge based_on" id="ch-based_on-1">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge rate_curr" id="ch-rate_curr-1">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount" id="ch-amount-1">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount_usd" id="ch-amount_usd-1">
                            <input class="charge-input right" type="text" value="0">
                        </td>
                    </tr>
                    <tr id="Guam THC">
                        <td class="td-charge size" id="ch-size-2">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge type" id="ch-type-2">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge desc" id="ch-desc-2">
                            <input disabled class="charge-input" type="text" value="Terminal handl. ch  destination">
                        </td>
                        <td class="td-charge based_on" id="ch-based_on-2">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge rate_curr" id="ch-rate_curr-2">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount" id="ch-amount-2">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount_usd" id="ch-amount_usd-2">
                            <input class="charge-input right" type="text" value="0">
                        </td>
                    </tr>
                    <tr id="THC USA">
                        <td class="td-charge size" id="ch-size-3">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge type" id="ch-type-3">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge desc" id="ch-desc-3">
                            <input disabled class="charge-input" type="text" value="Terminal handl ch origin">
                        </td>
                        <td class="td-charge based_on" id="ch-based_on-3">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge rate_curr" id="ch-rate_curr-3">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount" id="ch-amount-3">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount_usd" id="ch-amount_usd-3">
                            <input class="charge-input right" type="text" value="0">
                        </td>
                    </tr>
                    <tr id="EXTRA">
                        <td class="td-charge size" id="ch-size-4">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge type" id="ch-type-4">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge desc" id="ch-desc-4">
                            <select id="ch-options-0" class="options">
                                <option value="null" selected disabled>---------</option>
                                <option value="Invasive Species Inspection Fee">Container inspection fees and survey fees</option>
                                <option value="Inland (Rail)">Pre carriage haulage</option>
                                <option value="Inland (Rail)">On carriage haulage</option>
                                <option value="Export Declaration Surcharge">Export Declaration Surcharge</option>
                                <option value="AMS">Advance Manifest Compliance Charge (AMS)</option>
                                <option value="Inland (Rail)">Inland (Rail) Charge</option>
                            </select>
                        </td>
                        <td class="td-charge based_on" id="ch-based_on-4">
                            <input class="charge-input" type="text" disabled>
                        </td>
                        <td class="td-charge rate_curr" id="ch-rate_curr-4">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount" id="ch-amount-4">
                            <input class="charge-input right" type="text" disabled>
                        </td>
                        <td class="td-charge amount_usd" id="ch-amount_usd-4">
                            <input class="charge-input right" type="text" value="0">
                        </td>
                    </tr>
                </table>
                <div style="margin-top: 10px;" class="total-class">
                    <div style="display: flex;">
                        <a class="add-row-btn" id="invoice-addrow-btn" onclick="addRow(this)">
                            <div style="color: white;display: flex;justify-content: center;text-align: center;text-decoration: none;font-size: 1.2em;padding-top: -10px;">+</div>
                            <p style="margin-left: .3em;margin-bottom: 0px;">Add row</p>
                        </a>
                        <a class="add-row-btn remove" id="invoice-removerow-btn" onclick="removeRow(this)">
                            <div style="color: white;display: flex;justify-content: center;text-align: center;text-decoration: none;font-size: 1.2em;padding-top: -10px;">-</div>
                            <p style="margin-left: .3em;margin-bottom: 0px;">Remove row</p>
                        </a>                        
                    </div>
                    <div class="input-group total-container">
                        <label style="width: 160px;" class="input-group-text" for="TOTAL-I">Total</label>
                        <input style="text-align: right;" id="TOTAL-I" class="form-control" type="text" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div style="min-height: 700px;max-width: 1120px;" class="invoice-layout container" id="waybill-main" hidden>
            <h1>Enter Waybill Details</h1>
            <div class="invoice-layout info" id="waybill-info-w">
                <h2>Waybill Information</h2>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text req false" for="BOL-W">Bill of Lading</label>
                            <input type="text" class="form-control bol" id="BOL-W">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text req false" for="CONT_NUM-W">Container #</label>
                            <input type="text" class="form-control cont-num" id="CONT_NUM-W">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text req false" for="VESSEL-W">Vessel</label>
                            <input type="text" class="form-control vessel" id="VESSEL-W">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text req false" for="CONT_SIZE-W">Container Size</label>
                            <input type="text" class="form-control cont-size" id="CONT_SIZE-W">
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-layout info" id="container-info-w">
                <h2>Container Information</h2>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="CODE-W">Code</label>
                            <input type="text" class="form-control" id="CODE-W">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="WEIGHT_LBS-W">Weight (LBS)</label>
                            <input type="text" class="form-control" id="WEIGHT_LBS-W">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="ETD-W">ETD</label>
                            <input type="date" class="form-control" id="ETD-W">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="SERIAL_NUM-W">Serial #</label>
                            <input type="text" class="form-control" id="SERIAL_NUM-W">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="CUBIC_FEET-W">Cubic Feet</label>
                            <input type="text" class="form-control" id="CUBIC_FEET-W">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="ETA-W">ETA</label>
                            <input type="date" class="form-control" id="ETA-W">
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-layout info" id="charges-info-i">
                <h2>Shipments</h2>
                <table id="shipments-table" rules="all">
                    <tr id="header-shipment">
                        <th class="pieces">Pieces</th>
                        <th>Member Name</th>
                        <th>SCAC</th>
                        <th>GBL</th>
                        <th>Weight (LBS)</th>
                        <th>TTL_CF</th>
                        <th class="rdd">RDD</th>
                        <th>NET</th>
                    </tr>
                    <tr>
                        <td class="td-charge pieces" id="sh-pieces-0">
                            <input placeholder="-" class="charge-input" type="text">
                        </td>
                        <td class="td-charge sm" id="sh-sm-0">
                            <input placeholder="-" class="charge-input" type="text">
                        </td>
                        <td class="td-charge scac" id="sh-scac-0">
                            <input placeholder="-" class="charge-input" type="text">
                        </td>
                        <td class="td-charge gbl" id="sh-gbl-0">
                            <input placeholder="-" class="charge-input" type="text">
                        </td>
                        <td class="td-charge weight_lbs" id="sh-weight_lbs-0">
                            <input placeholder="-" class="charge-input" type="text">
                        </td>
                        <td class="td-charge ttl_cf" id="sh-ttl_cf-0">
                            <input placeholder="-" class="charge-input" type="text">
                        </td>
                        <td class="td-charge rdd" id="sh-rdd-0">
                            <input placeholder="-" class="charge-input" type="date">
                        </td>
                        <td class="td-charge net" id="sh-net-0">
                            <input placeholder="-" class="charge-input" type="text">
                        </td>
                    </tr>
                    <!-- INCLUDE CHARGES -->
                </table>
                <div style="margin-top: 10px;justify-content: flex-start;height: 35px;" class="total-class">
                    <a class="add-row-btn" id="waybill-addrow-btn" onclick="addRow(this)">
                        <div style="color: white;display: flex;justify-content: center;text-align: center;text-decoration: none;font-size: 1.2em;padding-top: -10px;">+</div>
                        <p style="margin-left: .3em;margin-bottom: 0px;">Add row</p>
                    </a>
                    <a class="add-row-btn remove" id="waybill-removerow-btn" onclick="removeRow(this)">
                        <div style="color: white;display: flex;justify-content: center;text-align: center;text-decoration: none;font-size: 1.2em;padding-top: -10px;">-</div>
                        <p style="margin-left: .3em;margin-bottom: 0px;">Remove row</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    </div>
</body>
<script src="/js/uploadManual.js"></script>
</html>