<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/reload'); %>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <div class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div class="user-management">
            <!-- TODO CREATE A TABLE TO DISPLAY ALL USERS AND MANAGE THEM -->
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</body>
</html>