<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
    <%- include('../../partials/reload'); %>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rates Management</title>
</head>
<body>
    <div class="container">
        <header>
            <%- include('../../partials/header'); %>
        </header>



        <footer>
            <%- include('../../partials/footer'); %>
        </footer>
    </div>
</body>
</html>