<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
    <%- include('../../partials/reload'); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/settingsTSP.css">
    <title>TSP Management</title>
</head>
<body>
  <div class="container">
    <header>
      <%- include('../../partials/header'); %>
    </header>

    <div style="margin-top: 2em;"">
      <table style="width:100%" id="table-main">
        <!-- INCLUDE RESULTS -->
        <tr>
          <th>SCAC</th>
        </tr>
        <tr>
          <td>DWMV</td>
        </tr>
      </table>
    </div>

    <footer>
      <%- include('../../partials/footer'); %>
    </footer>
  </div>
</body>
</html>